@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');

body {
    color: #6a994e;
    margin: 0;
    font-family: "Barlow", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    background-color: #31572c; /* ← cor de fundo da página */
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #597e51;
}

.header {
    text-align: center;
    padding: 2vh 0;
    margin-top: 5vh;
}

.menu {
    text-align: center;
    font-weight: bold;
}

.menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.banner {
    width: 100%;
    text-align: center;
    padding: 5vh 0;
}

.banner p {
    font-size: 2.5rem;
    text-align: left;
    padding: 0 10vw;
}

.botao {
    border: 1px solid #f2e8cf;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    display: inline-block;
}

.banner img {
    width: 90%;
    max-width: 600px;
}

.coluna {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.cardapio {
    box-sizing: border-box;
    border-top: 1px dashed #f2e8cf;
    width: 100%;
    margin: auto;
    max-width: 700px;
    text-align: center;
    margin-top: 10vh;
    padding: 5vh 2vw;
}

.cardapio-categoria {
    text-align: left;
    color: #f2e8cf;
    font-size: 1.4rem;
    margin-top: 3vh;
}

.cardapio-item {
    padding-top: 2vh;
    text-align: left;
    width: 100%;
}

.cardapio-nome {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
}

.cardapio-preco {
    font-size: 1rem;
    color: #a7c957;
}

.cardapio-descricao {
    font-size: 0.9rem;
    color: #f2e8cf;
}

footer {
    margin-top: 10vh;
    text-align: center;
    padding: 5vh 2vw;
    font-size: 0.9rem;
    color: #fff;
    background-color: #141d12; /* ← cor de fundo do rodapé */
}

.link-whatsapp img {
    height: 6vh;
    position: fixed;
    right: 2vw;
    bottom: 2vh;
}

/* Mobile First */
@media (max-width: 900px) {
    .coluna {
        width: 100%;
        margin-top: 3vh;
    }

    .banner p {
        font-size: 1.6rem;
        text-align: center;
        padding: 0 5vw;
    }
}
